<template>
  <div v-for="(value, key) in itemsFiltered" :key="key">
    <div class="key">{{ key }}:</div>
    <div class="value">{{ value }}</div>
  </div>
</template>

<script>
export default {
  props: ["items", "filter"],
  computed: {
    itemsFiltered() {
      if (Array.isArray(this.items)) {
        return this.items.reduce((acc, item) => {
          acc[item.key] = item.value
          return acc;
        }, {})
      }

      const filter = this.filter
      return filter ? filter.reduce((acc, f) => {
        if (this.items[f]) {
          acc[f] = this.items[f]
        }
        return acc
      }, {}) : this.items
    }
  }
};
</script>
<style scoped>
.key {
  width: 80px;
  text-align: right;
  font-size: smaller;
  margin-right: 5px;
  color: var(--label);
}
.key,
.value {
  display: inline-block;
}
</style>