<template>
  <input
    type="text"
    v-on:input="$emit('input', inputValue)"
    v-on:change="$emit('change')"
    v-model="inputValue"
    list="options"
  />
  <datalist id="options">
    <option v-for="value in options" :value="value" :key="value">{{value}}</option>
  </datalist>
</template>

<script>
export default {
  props: ["value", "options"],
  emits: ["change", "input"],
  data() {
    return { inputValue: this.value };
  },
};
</script>
<style scoped>
input {
  width: 20em;
    height: 30px;
    padding: 2px;
    border: 1px solid grey;
}
</style>