<template>
  <div class="container">
    <KeyValueView :items="street" />
    <KeyValueView
      :items="address"
      :filter="['city', 'state', 'postalCode', 'country']"
    />
  </div>
</template>

<script>
import KeyValueView from "./form/KeyValueView.vue";
export default {
  components: {
    KeyValueView,
  },
  props: ["address"],
  computed: {
    street() {
      return this.address.line?.map((line) => {
        return { key: "street", value: line };
      });
    },
  },
};
</script>
<style scoped>
.container {
  border: 1px solid #aaa;
  padding: 10px 20px;
}
</style>