<template>
  <h1>Flame ON</h1>
  <Selector
    :value="state.fhirServer"
    :options="state.FHIR_SERVERS"
    @input="state.fhirServer = $event"
    @change="search"
  />
  <SearchForm
    @search="search($event)"
    :fields="['name', 'address', 'telecom']"
  />
  <Spinner v-if="state.loading" />
  <div v-if="state.error">{{ state.error.message }}</div>
  <div v-if="state.json" class="container">
    <span
      >Results: {{ state.json.entry.length }}
      {{ state.json.total ? "/ " + state.json.total : "" }}</span
    >
    <Navigation :bundle="state.json" @navigate="navigate($event)" />
    <div v-for="entry in state.json.entry" :key="entry.id" class="card">
      <PatientView :data="entry" />
    </div>
  </div>
  <pre>
  {{ state.json }}
  </pre>
</template>

<script>
import { ref, reactive, computed, watch, provide } from "vue";
import axios from "axios";
import PatientView from "./PatientView.vue";
import Navigation from "./Navigation.vue";
import Spinner from "./form/Spinner.vue";
import Selector from "./form/Selector.vue";
import SearchForm from "./SearchForm.vue";

const FHIR_SERVERS = [
  "https://hapi.fhir.org/baseR4",
  "https://hapi.fhir.org/baseR5",
  "https://vonk.fire.ly/R4",
];

export default {
  components: {
    Spinner,
    PatientView,
    Selector,
    Navigation,
    SearchForm,
  },
  setup() {
    const state = reactive({
      json: null,
      error: null,
      loading: false,
      FHIR_SERVERS,
      fhirServer: FHIR_SERVERS[0],
    });

    provide("fhirServer", state.fhirServer);

    function navigate(url, params) {
      state.json = null;
      state.error = null;
      state.loading = true;
      axios
        .get(url, {
          params,
        })
        .then(function (response) {
          state.loading = false;
          state.json = response.data;
        })
        .catch(function (error) {
          state.loading = false;
          state.error = error;
          state.json = null;
          console.error({ error });
        });
    }

    function search(params) {
      console.log("params", params);
      navigate(`${state.fhirServer}/Patient`, params);
    }

    function log(v) {
      console.log(v);
    }

    return { state, search, log, navigate };
  },
};
</script>
<style scoped>
h1 {
  margin: 0 5px;
}
.container {
  margin: 10px;
}

.card + .card {
  margin-top: 10px;
}

.card {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 10px 20px;
  /* background-color: #efefef; */
  background: radial-gradient(#efefef, #fefefe);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
  background: radial-gradient(#fff, #fff);
}
</style>