<template>
  <div class="container">
    <div v-if="prev" @click="$emit('navigate', prev.url)" class="action">
      {{ prev.relation }}
    </div>
    <div v-if="next" @click="$emit('navigate', next.url)" class="action">
      {{ next.relation }}
    </div>
  </div>
</template>

<script>
export default {
  props: ["bundle"],
  emits: ["navigate"],
  computed: {
    links() {
      return this.bundle.link.filter((link) => link.relation !== "self");
    },
    next() {
      return this.bundle.link.find((link) => link.relation === "next");
    },
    prev() {
      return this.bundle.link.find((link) => link.relation === "previous");
    },
  },
};
</script>
<style scoped>
.container {
  display: flex;
}

.action {
  width: 5em;
  border: 1px solid grey;
  text-align: center;
}

.action:hover {
  text-decoration: underline;
  cursor: pointer;
}
</style>