<template>
  <i class="material-icons">face</i>
  <NameView :name="name" v-for="(name, idx) in data.resource.name" :key="idx" />
  <div class="section details">
    <PersonView :person="data.resource" />
  </div>
  <div class="section container">
    <AddressView
      :address="address"
      v-for="address in data.resource.address"
      :key="address.use"
    />
  </div>
  <div>
    ID:
    <span
      v-for="id in data.resource.identifier"
      :key="id.value"
      class="id"
      :title="getTitle(id)"
      >{{ id.value }}</span
    >
  </div>

  <a :href="data.fullUrl" target="_blank">
    <i class="material-icons">info</i>info
  </a>
  <br />
  <a target="_blank" :href="docsUrl">
    <i class="material-icons">folder</i>documents
  </a>

  <details>
    <summary>Data</summary>
    <pre>{{ data }}</pre>
  </details>
</template>

<script>
import PersonView from "./PersonView.vue";
import AddressView from "./AddressView.vue";
import KeyValueView from "./form/KeyValueView.vue";
import NameView from "./NameView.vue";

import { inject } from "vue";

export default {
  components: {
    PersonView,
    AddressView,
    KeyValueView,
    NameView,
  },
  props: ["data"],
  setup(props) {
    const fhirServer = inject("fhirServer");
    const docsUrl = `${fhirServer}/DocumentReference?patient=${props.data.resource.id}`;

    function getTitle(id) {
      console.log("get title");
      return !id.type || !id.type.coding ? "" : id.type.coding[0].display;
    }

    return {
      docsUrl,
      getTitle,
    };
  },
};
</script>
<style scoped>
.id {
  margin-right: 5px;
}

summary {
  cursor: pointer;
}

.section {
  margin-bottom: 10px;
}
.section.details {
  padding-left: 20px;
}
.section.container {
  display: flex;
}

.section.container div {
  margin-right: 10px;
}

pre {
  font-size: 8px;
  overflow: auto;
  background-color: #eee;
}

i {
  vertical-align: middle;
  margin: 5px;
}

a, a:visited {
  color: var(--font);
}
</style>