<template>
  <KeyValueView :items="person" :filter="['gender', 'birthDate']" />
  <KeyValueView :items="telecom" />
</template>
<script>
import KeyValueView from "./form/KeyValueView.vue";

import NameView from "./NameView.vue";
export default {
  components: {
    NameView,
    KeyValueView,
  },
  props: ["person"],
  computed: {
    telecom() {
      return this.person.telecom?.map(t => {
        return {
          key: t.system,
          value: t.value,
        }
      })
    }
  }
};
</script>
<style scoped>
</style>
