<template>
  <form v-on:submit.prevent="$emit('search', form)">
    <h2>Search</h2>
    <div v-for="f in fields" :key="f">
      <input type="text" :placeholder="f" v-model="form[f]" />
    </div>
    <button>Search</button>
    <button @click.prevent="form = {}">Reset</button>
  </form>
</template>

<script>
export default {
  props: ["fields"],
  emits: ["search"],
  data() {
    return {
      form: {},
    };
  },
};
</script>
<style scoped>
h2 {
  margin: 5px 0;
}
input,
button {
  height: 30px;
  padding: 2px;
  border: 1px solid grey;
}
input {
  width: 20em;
}

button {
  width: 10em;
}
</style>
