:root {
  --color1: #565676;
  --bgcolor: #D8DCFF;
  --font: #000;
  --label: #777;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--font);
}
